.formTag{
    border: solid 1px lightgray;
    border-radius: 20px;
    padding: 15px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
}
Button{
    width: 150px;
}
.group{
    display: flex;
}
.label{
    display: flex;
    width: 60px;
    height: 50px;
    align-items: center;
    margin: 10px 0px;
}
.input{
    height: 50px;
    align-content: center;
    margin: 10px 0px;
}